.SearchBar {
  height: 40px;
  width: 200px;
  background-color: rgba(255, 255, 255, 40%);
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  gap: 12px;
}

.SearchBar i {
  font-size: 15px;
}

.SearchBar input {
  color: #fff;
  font-size: 12px;
  border: 0;
  padding: 0;
}
.SearchBar input::placeholder {
  color: #ffffff6a;
}
